# Ignore these folders
Residues
scripts
backup-website-june
test

# Ignore these files
test.js
structure_website.txt

# Ignore Latex / Typst files
CV/CV_ABerrios.aux
CV/CV_ABerrios.log
CV/CV_ABerrios.synctex.gz
CV/CV_ABerrios.tex
CV/cv.typ

# Ignore Python virtual environments
.venv/
venv/
env/
ENV/

# Ignore Python cache files
__pycache__/
*.pyc
