# Ignore these files
test.js

# Ignore Latex files
CV/CV_ABerrios.aux
CV/CV_ABerrios.log
CV/CV_ABerrios.synctex.gz
CV/CV_ABerrios.tex

# Ignore these folders
Residues

# Ignore Python virtual environments
.venv/
venv/
env/
ENV/

# Ignore Python cache files
__pycache__/
*.pyc